* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f7;
  font-family: Arial, Helvetica, sans-serif;
}

.allContainer {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.imagelogo {
  width: 17px;
  margin-right: 2rem;
}

.titileHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
  color: rgb(115, 107, 107);
  font-weight: 600;
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: large;
  margin-left: 2rem;
  cursor: pointer;
}

.iconmenu {
  width: 23px;
  cursor: pointer;
  visibility: hidden;
}

.hamburgerIcon {
  position: relative;
}

.habmurgerMenu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f5f5f7;
  width: 100%;
  height: 100%;
  transition: top 0.3s ease-in-out;
  z-index: 1220;
  display: none;
}

.iconclose {
  display: flex;
  width: 100%;
  justify-content: end;
  margin-left: -1rem;
  margin-top: 1rem;
}

.close {
  width: 17px;
  cursor: pointer;
}

/* .titleHambgurger {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 17px;
} */

.titleHambgurger p {
  font-weight: bold;
  font-size: 28px;
  color: #2e2e31;
}

.section1container {
  max-width: 1300px;
  margin-top: 6rem;
  margin-left: -3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containertext {
  font-size: 22px;
  width: 830px;
  margin-left: auto;
}

.section1container span {
  color: gray;
}

.box1 {
  display: flex;
  align-items: center;
}

.box1 img {
  width: 37px;
  margin-right: 14px;
}

.box1 p {
  font-size: 13px;
  font-weight: 700;
  color: rgb(20, 17, 17);
}

.box2 img {
  width: 37px;
  margin-right: 22px;
}

.box2 {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.box2 p {
  font-size: 13px;
  font-weight: 700;
  color: rgb(20, 17, 17);
}

.boxcontainer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p1 {
  color: #0066cc;
  font-size: 14px;
  text-align: center;
  margin-left: 3rem;
}

.containersection {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.containersection .section img {
  width: 100px;
}

h2 {
  text-align: center;
  padding: 20px;
}
/* Slider */

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

.footerchild {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  cursor: pointer;
  margin-top: 1rem;
}

.footerchild span {
  font-weight: 700;
}

.footerchild p {
  color: gray;
  line-height: 25px;
}

.footerchild div {
  margin-top: 10px;
}

@media screen and (max-width: 829px) {
  .titileHeader {
    display: none;
  }

  .iconmenu {
    visibility: visible;
  }

  .header {
    justify-content: space-between;
    margin-left: 9px;
    margin-right: 9px;
  }
  .boxcontainer1 {
    display: none;
  }
  .section1container {
    margin-left: 0;
  }

  .containertext {
    text-align: center;
    font-size: 16px;
  }
}

/* Slider */

.slider-container {
  position: relative;
  max-width: 1300px;
  overflow: hidden;
  background-color: #f5f5f7;
  border-radius: 10px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  margin-top: 5rem;
  padding: 20px;
  display: flex;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: calc(100% / 6);
  padding: 10px;
  text-align: center;
}

.slide img {
  width: 100%;
  border-radius: 10px;
}

.slide p {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(166, 132, 132, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 20;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.slider-btn:focus {
  outline: none;
}

.slider-container2 {
  position: relative;
  width: 130%; /* عرض 100% از عرض کل صفحه */
  max-width: 1200px; /* حداکثر عرض اسلایدر */
  overflow: hidden;
  margin: 5rem auto; /* مرکز کردن با استفاده از auto */
  border-radius: 10px;
}

.slider2 {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slide2 {
  flex: 0 0 auto; /* هر اسلاید به اندازه محتوا تنظیم می‌شود */
  margin: 3px; /* فاصله بین تصاویر */
  box-sizing: border-box;
}

.slide2 img {
  width: 400px;
  height: 500px; /* عرض و ارتفاع تصاویر */
  object-fit: cover;
  border-radius: 10px;
}

.description2 {
  text-align: center;
  margin-top: 10px;
  position: absolute;
}

.description2white {
  text-align: center;
  margin-top: 10px;
  position: absolute;
  color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  gap: 10px;
  font-size: 1rem;
  font-weight: 600;
  text-align: right;
}

.description2black {
  text-align: center;
  margin-top: 10px;
  position: absolute;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  gap: 10px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.pdesc {
  font-size: 29px;
}

.prev-btn2,
.next-btn2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(207, 189, 189, 0.249);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.prev-btn2 {
  left: 0;
}

.next-btn2 {
  right: 0;
}

.container3 {
  position: relative;
  margin-top: 3rem;
}

.h3section3 {
  position: absolute;
  top: -50px;
  font-size: 28px;
  left: 120px;
}

.h3section6 {
  position: absolute;
  top: -50px;
  font-size: 28px;
  left: 120px;
}

.h3section6 span {
  color: gray;
}

.h3section3 span {
  color: gray;
}

/* slider3 */

.slider-container3 {
  position: relative;
  width: 130%; /* عرض 100% از عرض کل صفحه */
  max-width: 1200px; /* حداکثر عرض اسلایدر */
  overflow: hidden;
  margin: 5rem auto; /* مرکز کردن با استفاده از auto */
  border-radius: 10px;
}

.slider3 {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slide3 {
  flex: 0 0 auto; /* هر اسلاید به اندازه محتوا تنظیم می‌شود */
  margin: 3px; /* فاصله بین تصاویر */
  box-sizing: border-box;
}

.slide3 img {
  width: 400px;
  height: 500px; /* عرض و ارتفاع تصاویر */
  object-fit: cover;
  border-radius: 10px;
}

.description3 {
  text-align: center;
  margin-top: 10px;
  position: absolute;
}

.description2white {
  text-align: center;
  margin-top: 10px;
  position: absolute;
  color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  gap: 10px;
  font-size: 1rem;
  font-weight: 600;
  text-align: right;
}

.description2black {
  text-align: center;
  margin-top: 10px;
  position: absolute;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  gap: 10px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.pdesc {
  font-size: 29px;
}

.prev-btn3,
.next-btn3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(207, 189, 189, 0.249);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.prev-btn3 {
  left: 0;
}

.next-btn3 {
  right: 0;
}

.container4 {
  position: relative;
  margin-top: 3rem;
}

.h3section4 {
  position: absolute;
  top: 10px;
  font-size: 28px;
}

.h3section4 span {
  color: gray;
}

/* slider4 */
.slider-container5 {
  position: relative;
  width: 120%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.slider5 {
  display: flex;
  transition: transform 0.3s ease-in-out;
  gap: 90px;
}

.slide5 {
  min-width: 16.66%;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 10px;
  box-sizing: border-box;
}

.icon-box {
  cursor: pointer;
  -webkit-box-shadow: 2px 10px 5px 0px rgba(232, 211, 232, 1);
  -moz-box-shadow: 2px 10px 5px 0px rgba(232, 211, 232, 1);
  box-shadow: 2px 10px 5px 0px rgba(232, 211, 232, 1);
  display: flex;
  width: 300px;
  height: 240px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffff; /* رنگ پس‌زمینه باکس‌ها */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.icon-box img {
  width: 70px;
  height: 70px;
}

.icon-image {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
}

.prev-btn5 {
  left: 10px;
}

.next-btn5 {
  right: 10px;
}

/* s;ider4 */

.pend {
  font-size: 28px;
  margin-top: 1rem;
}

.pplate1 {
  font-weight: 500;

  font-size: 20px;
  text-align: left;
}

.pplate1 span {
  color: rgb(32, 203, 32);
  font-weight: 600;
}

.palet2 {
  font-weight: 500;
  font-size: 20px;
  text-align: left;
}

.palet2 span {
  color: #0066cc;
  font-weight: 600;
}

.h3section5 {
  top: 10px;
  font-size: 28px;
}

.h3section5 span {
  color: gray;
}

/* Responsive Design */
@media (max-width: 768px) {
  .slide2 {
    width: 100%;
    margin: 0;
  }
  .description2white {
    text-align: center;
    width: 100%;
  }
  .description2black {
    text-align: center;
    width: 100%;
  }
  .slider-container5 {
    width: 100%;
  }
}

/* slider5 */

.slider-container6 {
  position: relative;
  width: 130%; /* عرض 100% از عرض کل صفحه */
  max-width: 1200px; /* حداکثر عرض اسلایدر */
  overflow: hidden;
  margin: 5rem auto; /* مرکز کردن با استفاده از auto */
  border-radius: 10px;
}

.slider6 {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slider-container6 .slider6 .slide6 img {
  width: 200px;
  height: 200px;
}

.slide6 {
  background-color: #ffff;
  flex: 0 0 auto; /* هر اسلاید به اندازه محتوا تنظیم می‌شود */
  margin: 3px; /* فاصله بین تصاویر */
  box-sizing: border-box;
  width: 300px;
  height: 430px;
  display: flex;
  max-width: 1200px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  -webkit-box-shadow: 2px 10px 5px 0px rgba(232, 211, 232, 1);
  -moz-box-shadow: 2px 10px 5px 0px rgba(232, 211, 232, 1);
  box-shadow: 2px 10px 5px 0px rgba(232, 211, 232, 1);
}

.slide6 img {
  width: 400px;
  height: 500px; /* عرض و ارتفاع تصاویر */
  object-fit: cover;
  border-radius: 10px;
}

.descrip {
  text-align: center;
  margin-top: 10px;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 15px;
  line-height: 25px;
}

.pdescbotn {
  position: absolute;
  font-size: 10px;
  left: 10px;
  bottom: 20px;
  line-height: 30px;
}

.pdescbom {
  font-size: 16px;
}

.description2white {
  text-align: center;
  margin-top: 10px;
  position: absolute;
  color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  gap: 10px;
  font-size: 1rem;
  font-weight: 600;
  text-align: right;
}

.description2black {
  text-align: center;
  margin-top: 10px;
  position: absolute;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  gap: 10px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.prev-btn6,
.next-btn6 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(207, 189, 189, 0.249);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.ppppp {
  font-size: 17px;
  text-align: left;
}

.descrip:first-child {
  font-weight: 600;
}

.prev-btn6 {
  left: 0;
}

.next-btn6 {
  right: 0;
}

.container7 {
  position: relative;
}

/* slider5 */

/*slider6 */

.slider-container7 {
  position: relative;
  width: 130%; /* عرض 100% از عرض کل صفحه */
  max-width: 1200px; /* حداکثر عرض اسلایدر */
  overflow: hidden;
  margin: 5rem auto; /* مرکز کردن با استفاده از auto */
  border-radius: 10px;
}

.slider7 {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slider-container7 .slider7 .slide7 img {
  width: 200px;
  height: 200px;
}

.slide7 {
  background-color: #ffff;
  flex: 0 0 auto; /* هر اسلاید به اندازه محتوا تنظیم می‌شود */
  margin: 3px; /* فاصله بین تصاویر */
  box-sizing: border-box;
  width: 300px;
  height: 430px;
  display: flex;
  max-width: 1200px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  -webkit-box-shadow: 2px 10px 5px 0px rgba(232, 211, 232, 1);
  -moz-box-shadow: 2px 10px 5px 0px rgba(232, 211, 232, 1);
  box-shadow: 2px 10px 5px 0px rgba(232, 211, 232, 1);
}

.slide7 img {
  width: 400px;
  height: 500px; /* عرض و ارتفاع تصاویر */
  object-fit: cover;
  border-radius: 10px;
}

.descrip {
  text-align: center;
  margin-top: 10px;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 15px;
  line-height: 25px;
}

.pdescbotn {
  position: absolute;
  font-size: 10px;
  left: 10px;
  bottom: 20px;
  line-height: 30px;
}

.pdescbom {
  font-size: 16px;
}

.description2white {
  text-align: center;
  margin-top: 10px;
  position: absolute;
  color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  gap: 10px;
  font-size: 1rem;
  font-weight: 600;
  text-align: right;
}

.description2black {
  text-align: center;
  margin-top: 10px;
  position: absolute;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  gap: 10px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.prev-btn7,
.next-btn7 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(207, 189, 189, 0.249);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.ppppp {
  font-size: 17px;
  text-align: left;
}

.descrip:first-child {
  font-weight: 600;
}

.prev-btn7 {
  left: 0;
}

.next-btn7 {
  right: 0;
}

/*slider6 */

/* slider7 */

.container8 {
  position: relative;
  margin-top: 3rem;
}

.h3section8 {
  position: absolute;
  top: 10px;
  font-size: 28px;
}

.h3section8 span {
  color: gray;
}

/* slider3 */

.slider-container8 {
  position: relative;
  width: 130%; /* عرض 100% از عرض کل صفحه */
  max-width: 1200px; /* حداکثر عرض اسلایدر */
  overflow: hidden;
  margin: 5rem auto; /* مرکز کردن با استفاده از auto */
  border-radius: 10px;
}

.slider8 {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slide8 {
  flex: 0 0 auto; /* هر اسلاید به اندازه محتوا تنظیم می‌شود */
  margin: 3px; /* فاصله بین تصاویر */
  box-sizing: border-box;
}

.slide8 img {
  width: 400px;
  height: 500px; /* عرض و ارتفاع تصاویر */
  object-fit: cover;
  border-radius: 10px;
}

.description8 {
  text-align: center;
  margin-top: 10px;
  position: absolute;
}

.description2white {
  text-align: center;
  margin-top: 10px;
  position: absolute;
  color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  gap: 10px;
  font-size: 1rem;
  font-weight: 600;
  text-align: right;
}

.description2black {
  text-align: center;
  margin-top: 10px;
  position: absolute;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  gap: 10px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.pdesc {
  font-size: 29px;
}

.prev-btn8,
.next-btn8 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(207, 189, 189, 0.249);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.prev-btn8 {
  left: 0;
}

.next-btn8 {
  right: 0;
}

/* slider7 */

/* slider8 */

.slider-container9 {
  position: relative;
  width: 130%; /* عرض 100% از عرض کل صفحه */
  max-width: 1200px; /* حداکثر عرض اسلایدر */
  overflow: hidden;
  margin: 5rem auto; /* مرکز کردن با استفاده از auto */
  border-radius: 10px;
}

.slider9 {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slide9 {
  flex: 0 0 auto; /* هر اسلاید به اندازه محتوا تنظیم می‌شود */
  margin: 3px; /* فاصله بین تصاویر */
  box-sizing: border-box;
}

.slide9 img {
  width: 400px;
  height: 500px; /* عرض و ارتفاع تصاویر */
  object-fit: cover;
  border-radius: 10px;
}

.description9 {
  text-align: center;
  margin-top: 10px;
  position: absolute;
}

.description2white {
  text-align: center;
  margin-top: 10px;
  position: absolute;
  color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  gap: 10px;
  font-size: 1rem;
  font-weight: 600;
  text-align: right;
}

.description2black22 {
  text-align: center;
  margin-top: 10px;
  position: absolute;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  gap: 10px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.description2black {
  text-align: center;
  margin-top: 10px;
  position: absolute;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  gap: 10px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.description2blacknew {
  text-align: center;
  margin-top: 10px;
  position: absolute;
  color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  gap: 10px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.pdesc {
  font-size: 29px;
}

.prev-btn9,
.next-btn9 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(207, 189, 189, 0.249);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.prev-btn9 {
  left: 0;
}

.next-btn9 {
  right: 0;
}

/* slider8 */

/* Mega Menu styles */
.mega-menu {
  position: absolute;
  width: 1414px;
  top: 40px;
  left: -210px;
  right: 0;
  background-color: white;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  z-index: 1000;
  border-radius: 10px;
}

.menu-content {
  padding: 20px;
  display: none;
}

#store {
  display: flex;
  gap: 10rem;
}

.mega2 p {
  font-size: 14px;
  line-height: 25px;
}

.mega-menu.show {
  height: 70vh; /* Adjust the height as needed */
  opacity: 1;
}

.mega-menu .menu-content.active {
  display: block;
}

.mega1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 1rem;
}

.mega1:first-child {
  font-size: 20px;
  color: rgb(54, 45, 45);
}

.shop {
  font-size: 14px;
}

.section10container {
  margin: auto;
  max-width: 1200px;
}

.allsection10 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.allsection10 button {
  border: 1px solid black;
  background-color: transparent;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.allsection10 button:hover {
  background-color: black;
  color: #fff;
}

.btn {
  display: flex;
  gap: 19px;
}

.text {
  font-size: 12px;
  line-height: 25px;
  color: gray;
}

.line {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 2px;
  border-bottom: 1px solid rgb(129, 119, 119);
}

/* Responsive Design */
@media (max-width: 768px) {
  .slide2 {
    width: 100%; /* نمایش یک تصویر در موبایل */
  }
  .slide2 img {
    width: fit-content;
  }
  .slide6 {
    width: 100%; /* نمایش یک تصویر در موبایل */
  }
  .slide6 img {
    width: fit-content;
  }
  .icon-box img {
    width: 80px;
  }
  .h3section3 {
    text-align: center;
    left: 20px;
    font-size: 1.2rem;
  }
  .h3section6 {
    text-align: center;
    left: 20px;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .slide {
    min-width: 100%; /* Show 1 image on mobile */
  }
}

@media screen and (max-width: 877px) {
  .containertext {
    text-align: center;
    width: 100%;
    font-size: 19px;
  }
  .boxcontainer1 {
    display: none;
  }
  .slide {
    width: 10px;
  }

  @media screen and (min-width: 829px) and (max-width: 1085px) {
    .containertext {
      text-align: center;
    }
  }

  @media screen and (min-width: 424px) and (max-width: 767px) {
    .slide2 img {
      width: 500px;
    }
    .slide3 img {
      width: 500px;
    }
    .slide5 img {
      width: 500px;
    }
    .slide6 img {
      width: 500px;
    }
    .icon-box img {
      width: 100px;
    }

    .description2black22 {
      width: 60%;
      font-size: 1rem;
    }

    .slide6 {
      width: 300px;
    }

    .description2black {
      justify-content: start;
      width: 95%;
      font-size: 1rem;
    }

    .description2black6 {
      justify-content: start;
      width: 90%;
    }

    .description2white {
      justify-content: start;
      width: 90%;
    }

    .description2white6 {
      justify-content: start;
      width: 90%;
    }

    .slider-container2 {
      width: 100%;
    }
    .slider-container3 {
      width: 100%;
    }
    .slider-container6 {
      width: 100%;
      overflow: hidden;
    }

    .slide2 {
      flex: auto;
    }
    .slide3 {
      flex: auto;
    }
    .slide5 {
      flex: auto;
    }
    .slide6 {
      flex: auto;
    }
  }

  @media screen and (min-width: 314px) and (max-width: 421px) {
    .slide2 {
      width: 400px;
    }
    .h3section4 {
      font-size: 20px;
      text-align: center;
      width: 100%;
    }
    .h3section3 {
      font-size: 20px;
      text-align: center;
      width: 100%;
    }
    .h3section6 {
      font-size: 20px;
      text-align: center;
      width: 100%;
    }
    .slide3 {
      width: 400px;
    }

    .description2black {
      justify-content: start;
      width: 60%;
    }
    .description2black22 {
      width: 59%;
    }
    .pdesc {
      font-size: 1.5rem;
      text-align: center;
    }

    .description2white {
      justify-content: start;
      width: 60%;
    }
    .slide6 {
      width: 300px;
    }
    .slide7 {
      width: 300px;
    }
    .footer {
      margin-left: 1rem;
      margin-bottom: 1rem;
    }
  }

  @media (max-width: 768px) {
    .slide5 {
      min-width: 100%; /* نمایش یک باکس در موبایل */
      padding: 10px;
    }
  }

  @media (max-width: 1024px) {
    .slide5 {
      min-width: 50%; /* نمایش دو باکس در تبلت */
      padding: 10px;
    }
  }
}
